@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
  --color-primary: #00695c;
  --color-secondary: #fff;
  --color-black-1: rgb(53, 50, 50);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

img {
  height: 15rem;
  width: 15rem;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 1rem;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.error-message {
  display: inline-block;
  background-color: rgb(218, 64, 64);
  color: white;
  font-size: 24px;
  padding: 40px;
}
